<template id="main">
  <v-ons-page>
    <v-ons-toolbar>
      <div class="center">{{ title }}</div>
    </v-ons-toolbar>

    <v-ons-tabbar position="auto"
      :tabs="tabs"
      :visible="true"
      :index.sync="activeIndex"
    >
    </v-ons-tabbar>
  </v-ons-page>
</template>



<div id="app"></div>

<script>
import HomePage from './HomePage.vue'
import MenuPage from './MenuPage.vue'

export default {

  name: 'tabbar',
  data() {
    return {
      activeIndex: 0,
      tabs: [
        {
          icon: this.md() ? null : 'ion-home',
          label: 'Home',
          page: HomePage,
          props: {
            myProp: 'This is a page prop!'
          }
        },
        {
          icon: this.md() ? null : 'ion-ios-bell',
          label: 'News',
          page: MenuPage,
          badge: 7
        },
      ]
    };
  },
  methods: {
    md() {
      return this.$ons.platform.isAndroid();
    }
  },
  computed: {
    title() {
      return this.tabs[this.activeIndex].label;
    }
  }
}
</script>