<template>
  <v-ons-page id="app">
    <tab-bar-page></tab-bar-page>
  </v-ons-page>
</template>

<script>
import TabBarPage from './components/TabBarPage'

export default {
  name: 'app',
  computed: {
    menuIsOpen: {
      get () {
        return this.$store.state.splitter.open
      },
      set (newValue) {
        this.$store.commit('splitter/toggle', newValue)
      }
    }
  },
  components: {
    TabBarPage,
  }
}
</script>

<style>
ons-splitter-side[side=left][animation=overlay] {
  border-right: 1px solid #BBB;
}
</style>
